<a href="https://colab.research.google.com/github/Ramyaramz2004/rfm-analysis/blob/main/Copy_of_Untitled4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
simpleRandomSample=dataset.sample(n=5).sort_values(by='Id')
mean_simpleRandomSample=round(simpleRandomSample['SalePrice'].mean(),3)
print("Mean of SimpleRandomSample:",mean_simpleRandomSample)
print(simpleRandomSample)

Mean of SimpleRandomSample: 171495.8
        Id  LotArea  SalePrice
42      43     9180     144000
54      55     7134     130000
538    539    11553     158000
747    748    11700     265979
1103  1104     8910     159500

In [ ]:
index=np.arange(0,len(dataset),step=3)
systematicSample=dataset.iloc[index]
mean_systematicSample=round(systematicSample['SalePrice'].mean(),3)
print("Mean of SystematicSample:",mean_systematicSample)
print(systematicSample)

Mean of SystematicSample: 178464.862
        Id  LotArea  SalePrice
0        1     8450     208500
3        4     9550     140000
6        7    10084     307000
9       10     7420     118000
12      13    12968     144000
...    ...      ...        ...
1446  1447    26142     157900
1449  1450     1533      92000
1452  1453     3675     145000
1455  1456     7917     175000
1458  1459     9717     142125

[487 rows x 3 columns]

In [ ]:
n=5
dataset['cluster_id'] = np.repeat(range(1, n + 1), len(dataset) // n + (len(dataset) % n != 0))
index=[]
for i in range(len(dataset)):
  if dataset['cluster_id'].iloc[i] % 2 == 0:
    index.append(i)
clusterSample=dataset.iloc[index]
mean_clusterSample=round(clusterSample['SalePrice'].mean(),3)
print("Mean of ClusterSample:",mean_clusterSample)
print(clusterSample)

Mean of ClusterSample: 178023.509
        Id  LotArea  SalePrice  cluster_id
292    293    11409     131000           2
293    294    16659     235000           2
294    295     9600     167000           2
295    296     7937     142500           2
296    297    13710     152000           2
...    ...      ...        ...         ...
1163  1164    12900     108959           4
1164  1165    16157     194000           4
1165  1166     9541     233170           4
1166  1167    10475     245350           4
1167  1168    10852     173000           4

[584 rows x 4 columns]

In [ ]:
dataset=pd.read_csv('/content/Dataset.csv')
dataset['strata']=np.repeat([1,2],len(dataset)/2)
index=[]
for i in range(0,len(dataset)):
  index.append(i)
stratifieldRandomSample=dataset.iloc[index]
print(stratifieldRandomSample)

        Id  LotArea  SalePrice  strata
0        1     8450     208500       1
1        2     9600     181500       1
2        3    11250     223500       1
3        4     9550     140000       1
4        5    14260     250000       1
...    ...      ...        ...     ...
1455  1456     7917     175000       2
1456  1457    13175     210000       2
1457  1458     9042     266500       2
1458  1459     9717     142125       2
1459  1460     9937     147500       2

[1460 rows x 4 columns]

In [ ]:
!pip install scikit-learn
from sklearn.model_selection import StratifiedShuffleSplit as sss
split=sss(n_splits=1,test_size=8)
for x,y in split.split(dataset,dataset['strata']):
  stratifiedRandomSample=dataset.iloc[y].sort_values(by='SalePrice')
print(stratifiedRandomSample)

Requirement already satisfied: scikit-learn in /usr/local/lib/python3.12/dist-packages (1.6.1)
Requirement already satisfied: numpy>=1.19.5 in /usr/local/lib/python3.12/dist-packages (from scikit-learn) (2.0.2)
Requirement already satisfied: scipy>=1.6.0 in /usr/local/lib/python3.12/dist-packages (from scikit-learn) (1.16.1)
Requirement already satisfied: joblib>=1.2.0 in /usr/local/lib/python3.12/dist-packages (from scikit-learn) (1.5.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in /usr/local/lib/python3.12/dist-packages (from scikit-learn) (3.6.0)
        Id  LotArea  SalePrice  strata
149    150     6240     115000       1
1153  1154     5890     120500       2
1079  1080     8775     126000       2
876    877    25286     132250       2
970    971    10800     135000       2
295    296     7937     142500       1
12      13    12968     144000       1
158    159    12552     254900       1